.cart-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #fff; 
    background-color: #333; 
}

.cart-empty {
    text-align: center;
    margin-top: 50px;
    color: white; 
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.cart-table th {
    background-color: #555; 
    color: white; 
}

.cart-table td {
    background-color: #444; 
    color: white; 
}

.remove-item-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-item-btn:hover {
    background-color: #ff5555;
}

.clear-cart-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.clear-cart-btn:hover {
    background-color: #e53935;
}

.continue-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #45a049;
}


.form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #444; 
    border-radius: 5px;
    color: white; 
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: white; 
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white; 
    background-color: #555; 
}

.submit-btn {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1976d2;
}
