.CardItem {
    max-width: 100%; 
}

.ItemImg {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}

.ItemHeader {
    font-size: 1em; 
}
.ItemImg {
    transition: filter 0.3s ease;
}

.ItemImg.out-of-stock {
    filter: grayscale(100%);  
    opacity: 0.6;  
}

.ItemImg:hover {
    filter: none; 
}