.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;         
    top: 0;              
    left: 0; 
    width: 100%;            
    z-index: 1000;           
}

.NavBar h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin: 0;
    text-decoration: none;
}

.NavBar div {
    font-size: 1.2em;
    display: flex;
    gap: 20px;
}

.Option, .ActiveOption {
    padding: 0em 0.5em;
    font-size: 1.2em;
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Option:hover {
    color: #ffffff;
}

.ActiveOption {
    color: #4CAF50;
    font-weight: bold;
}

.CartWidget {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.2em;
}

.App {
    margin-top: 80px;
}
