/* index.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

#root {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenido */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}